*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
   }
header{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 40px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}
.row{
   box-sizing: border-box;
   margin-top: 50px;
}
#coffee{
   background-color: saddlebrown;
}
#tea{
    background-color: red;
}
#juice{
    background-color: orange;
}
 .col-lg-4 p.head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    position: relative;
    font-size: 30px;
    box-sizing: border-box;
     top: -41px;
    left: 77%;}

.col-lg-4{
     border: 2px solid black;
     width: 300px;
    background-color: grey;
    float: left;
   margin: 10px;
   padding: 10px;
  box-sizing: border-box;
}
section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -40px;
}
@media (min-width:992px) and (max-width:1500px)
{
    .col-xl-3{
       width: 30%;
       margin: 15px;
   }
}
@media (min-width: 768px) and (max-width:991px) {
    .row{
        margin-left: 100px;
    }
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-8 {width: 66.66%;}
    .col-md-8 {width: 68%;}
    .col-lg-9 {width: 75%;}
    .col-lg-11 {width: 91.66%;}
    }
  @media (max-width:767px){
    .col-s-12 {width: 90%;}
}
