*{
    box-sizing: border-box;
}
body{
    background-color: thistle;
}
#nav{
    background-color: violet;
}
.col-md-11{
    border: 2px solid purple;
    margin-top: 30px;
    padding: 10px;
    background-color: rebeccapurple;
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue; 
    font-size: 100%;
    margin: 30px;
}
.col-xs-12{
    margin: 20px;
}
hr{
    border-bottom: 1px solid black;
    width: 300px;
}
.nav-itm{
    font-size: 30px;
}
.nav-item a{
    color: purple;
}

 .nav-item a{
    text-align: center;
}
header{
    padding-top: 20px;
    color:purple;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    text-shadow: 2px 2px 1px white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
}
#nav-header a{
    text-decoration: none;
    color: purple;
}
